@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#3D3837, #686564);
}

.main-conteiner-links {
    width: 90%;
    height: 800px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
}

.foto {
    margin-top: 40px;
    max-width: 100px;
    margin-bottom: 40px;
    border-radius: 100px;
    border: #fff solid 3px;
    animation: foto 2s infinite;

}

h1 {
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.658);
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    width: 80%;
    margin: 20px;
    display: flex;
    padding: 10px;
    position: relative;
    align-items: center;
    border-radius: 100px;
    text-decoration: none;
    background-color: #3D3837;
    animation: container 10s infinite;
    font-family: 'Noto Sans KR', sans-serif;
}



@keyframes container {
    0% {
        background-color: #3D3837;
    }

    50% {
        background-color: #686564;
    }

    100% {
        background-color: #3D3837;
    }
}

@keyframes foto {
    0% {
        border: #fff solid 3px;
    }

    50% {
        border: rgb(73, 72, 77) solid 3px;

    }

    100% {
        border: #fff solid 3px;

    }
}

span {
    color: #fcfcfc;
    letter-spacing: 2px;
    text-transform: uppercase;
}

img {
    border-radius: 100px;
    border: rgb(105, 103, 103) solid 3px;
    margin-right: 20px;
    max-width: 40px;
}

@media screen and (max-width: 730px) {
    span {
        position: absolute;
        left: 45%;
    }

}

@media screen and (max-height: 732px) {
    body {
        height: 100%;
    }
}

@media screen and (max-width: 415px) {
    body {
        height: 100%;
    }

}

@media screen and (max-width: 375px) {
    body {
        height: 100vh;
    }

}